<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/login.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="main bg-zinc-900 w-full h-screen">
      <form action="/login" method="post" class="form">
        <h1 class="text-3xl">LOG IN</h1>
        <input type="email" class="input" placeholder="email" name="email" />
        <input type="password" class="input" placeholder="password" name="password" />
        <input type="submit" class="btn" value="login User" />
        <div class="link px-10  w-full">
            <a href="/signin">New Account</a>
        </div>
      </form>
    </div>
  </body>
</html>
